<%= javascript_tag "const AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

<div id="menu_bar_1">
  <span>URL for this note: <span id="note_full_url"></span>
</div>

<div id="menu_bar_2">
  <span>
    Auto Save Status: <span id="save_status">Saved</span> ||
  </span>
  <span>
    Note will be deleted in: <span id="delete_time"> 10 minutes</span> ||
  </span>
  <span>
    Note can be accessed <span id="reads_remaining"> 1 </span> more times before deletion
  </span>
</div>

<div id="height_wrapper">
  <textarea id="note_box" data-newtype="<%= is_new_note(@note) %>"><%= @note.text %></textarea>
</div>
