<div id="menu_bar_1">
  <span>URL for this note: <span id="note_full_url"></span>
  </div>
</div>
<div id="menu_bar_2">
  <span>
    Auto Save Status: <span id="save_status">Saved</span> ||
  </span>
  <span>
    Note will be deleted in: <span id="delete_time"> 10 minutes</span> ||
  </span>
  <span>
    Note can be accessed <span> 1 </span> more times before deletion
  </span>
</div>

<div id="height_wrapper">
<textarea id="note_box"><%= @note.text %></textarea>
</div>
