<span id="menu_bar">
  <div>
    URL for this note: <div id="note_full_url"></div> ||
  </div>
  <div>
    Auto Save Status: <div id="save_status">Saved</div> ||
  </div>
  <div>
    Note will be deleted in: <div id="delete_time"> 10 minutes</div> ||
  </div>
  <div>
    Note can be accessed <div> 1 </div> more times before deletion
  </div>
</span>
<br>
<textarea id="note_box"><%= @note.text %></textarea>
