// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: #034545;
	color: #57f59c;
	font-family: ‘Lucida Console’, Monaco, monospace;
	font-size: 1.2em
}

body{
	margin: 0;
	height: 100%;
}

div#menu_bar_1{
	margin-top: 5px;
	margin-left: 1%;
	height: 15px;
	margin-bottom: 10px;
	font-weight: bold;
}

span#note_full_url{
	margin-left: 1%;
	font-weight: initial
}

div#menu_bar_2{
	margin-top: 5px;
	margin-left: 1%;
	margin-right: 1%;
	height: 15px;
}

div#mb2_s1{
	width: 8%;
	display: table-cell;
	font-weight: bold;
}

span#save_status{
	font-weight: initial;
}

span#style_select{
	background: url(asset_path("find_icon_down_hover.png")) no-repeat right #032D2D;
	padding-right: 10px;
}

select {
       appearance: none;
       -moz-appearance: none;
       //background: #032D2D;
       background: transparent;
       color: #57f59c;
       border: 0;
       padding: 1px;
       font-family: ‘Lucida Console’, Monaco, monospace;
}

div#mb2_s2{
	width: 8%;
	text-align: center;
	display: table-cell;
	font-weight: bold;
}

span#delete_time{
	font-weight: initial;
}

div#mb2_s3{
	width: 8%;
	text-align: right;
	display: table-cell;
	font-weight: bold;
}

span#reads_til_death{
	font-weight: initial;
}

div#mb2_s4{
	width: 5%;
	text-align: center;
	display: table-cell;
}

button#trash_button{
	background-color: rgb(19, 104, 104);
	padding-top: 1.5%;
	border-style: solid;
	border-color: #57f59c;
	margin: auto;
	width: 27%;
	cursor: pointer;
}

div#mb2_s4 img{
	width: 40%;
}

div#height_wrapper{
	position: absolute;
	width: 100%;
	top: 77px;
	bottom:0;
}

textarea#note_box{
	width: 100%;
	height: 100%;
	background-color: #d7fbff;
	color: #004D4D;
	font-size: 2em
}
